<!DOCTYPE html>
<html lang="en">
    <head id='head_tag'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/assets/enabled/custom/base.css" rel="stylesheet" />
        <title>{{title}}</title>
    </head>
    <body id="body_tag">
        <div id="app_container">
            <div id="app_header">
                &nbsp;
            </div>
            <div id="app_nav">
                &nbsp;
            </div>
        </div>
        
    </body>
</html>
